@{
    ViewBag.Title = "About";
}
<h2>Empresa</h2>

    <embed src="~/Content/VideoRodao.wmv" type="video/x-ms-wmv" width="1150" height="600" />


<div class="Empresa">
    <h1>
        Somos uma empresa que atua no ramo de acessorios a mais de 30 anos. <br /> <br /> Somos a primeira a se instalar em Ariquemes/RO
        <br />
        Temos funcionarios capacitados para atender nossos clientes com os melhores produtos do mercado.
        <br />

    </h1>
</div>