
@{
    ViewBag.Title = "Comprar";
}

<h2>Deseja fazer um orçamento?</h2>

<p>
    <a href="@Url.Action("Cadastrar","Produtos")">
        <button type="submit" class="btn btn-sm btn-info">Sim</button>
    </a>

    <a href="@Url.Action("Index","Home")">
        <button type="submit" class="btn btn-sm btn-info">Não</button>
    </a>
</p> 


