@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>
<h3>Rodão Acessorios</h3>

<address>
Deseja Comprar esta peça ? 
    <br />


</address>
<div class="Video">
    <embed src="~/Content/VideoRodao.wmv" type="video/x-ms-wmv" width="1000" height="350" />
</div>